.navLabel {
	color: #f2f2f2;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 114.286% */
	letter-spacing: -0.087px;

	margin-bottom: 2px;
}

.Label {
	height: 14px;
}
