.Line {
	margin: 32px 0px;
}

.MenuCol {
	width: 220px;
	display: flex;
	flex-direction: column;

	border-radius: 10px;
	border: 1px solid #262626;
	background: #262626;

	padding: 16px 16px;
}

.MenuCol:not(:last-child) {
	margin-right: 16px;
}

.MenuHeaderRow {
	margin-bottom: 16px;
}

.CheckBox {
	color: #808080;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 114.286% */

	white-space: nowrap;
}

.CheckBox.Orange input:checked + label::before {
	content: url('../../assets/icons/ShapeOrange.svg');
	background-color: #f3a63b;
}

.CheckBox.Purple input:checked + label::before {
	content: url('../../assets/icons/ShapePurple.svg');
	background-color: #6049b4;
}

.CheckBox.Green input:checked + label::before {
	content: url('../../assets/icons/ShapeGreen.svg');
	background-color: #57bd53;
}

.CheckBox.Red input:checked + label::before {
	content: url('../../assets/icons/ShapeRed.svg');
	background-color: #f3553e;
}

// COMPANY

.AddCompanyWrapper {
	// max-width: 1164px;
	width: 80vw;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.AddCompanyBtn {
	border-radius: 10px;
	border: 1px solid #262626;
	background: #1a1a1a !important;

	margin-right: 16px;

	height: 48px !important;
}

.AddCompanyBtn svg {
	margin-right: 8px;
}

.AddCompanySpan {
	height: 48px;
	border-radius: 10px;
	background: #262626;

	padding: 8px 0 8px 16px;
	margin-right: 16px;
	margin-bottom: 16px;

	cursor: pointer;

	.AddCompanySpanTitle {
		display: flex;
		justify-content: space-between;
		height: 16px;
		cursor: inherit;
		margin-bottom: 2px;
		.AddCompanySpanP {
			color: #f2f2f2;
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 16px; /* 114.286% */
		}

		.AddCompanyDel {
			position: relative;
			bottom: 4px;
			color: #808080;
		}

		.AddCompanyDel:hover {
			color: #f2f2f2;
			transition: all 0.2s;
		}
	}

	.AddCompanyLabel {
		color: #808080;
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 14px; /* 116.667% */
		cursor: inherit;
	}
}

// GRAPHS

// Calendar
.extended {
	display: block;
	margin-bottom: 26px;
}

.extendedLink {
	.Link {
		margin-right: 20px;
	}
}

.extendedBlock {
	display: flex;
	justify-content: space-between;

	margin-bottom: 16px;
}

.DatePicker div input {
	cursor: pointer;

	width: 227px;
	height: 36px;

	color: #f2f2f2;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 114.286% */

	background-color: #1a1a1a;
	border-radius: 10px;
	border: 1px solid #333;

	padding: 10px 16px;
}

.DatePicker div svg {
	right: 16px !important;
	color: #808080;
}

.extendedButton {
	background: none;
}

.active {
	background: #262626;
}

.extendedButton:hover,
.extendedButton:active,
.extendedButton:focus {
	background: #262626;
}

.extendedButton.activeGraphBtn {
	background: #262626;
}

.RowButtonsGraph {
	justify-content: space-between;
	margin-bottom: 16px;
}

.sortTableButton {
	width: 220px;
	height: 36px;

	background-color: #1a1a1a;
	border-radius: 10px;
	border: 1px solid #333;

	color: #f2f2f2;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 114.286% */
}

.sortTableButtonWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding: 10px 10px 10px 16px;

	.sortTableButtonTextGray {
		color: #808080;
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px; /* 114.286% */

		margin-right: 16px;
	}
}

// Pop Up's

.StatisticAddCompanyPopUp {
	position: absolute;
	top: 220px;
	z-index: 10;
}
