.wrapper {
	width: 157px;
	max-height: 73px;
	flex-shrink: 0;

	overflow: hidden;

	border-radius: 10px;
	border: 1px solid #333;
	background: #262626;

	color: #FFF;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 114.286% */
}

.Line {
	background: #333;

	position: relative;
	margin: 0;
}

.ColWrapper {
	align-items: flex-start;
}

.WhiteLabelBtn {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 6px 8px;
	cursor: pointer;
	white-space: nowrap;

	* {
		cursor: inherit;
	}
}

.WhiteLabelBtn svg {
	margin-right: 8px;
}

