.rmdp-week-day {
	color: #808080 !important;
}

.rmdp-disabled {
	color: #333;
}
.sd,
.rmp-day {
	color: #f2f2f2;
	border-radius: 18px;
}

div.rmdp-header-values span {
	color: #f2f2f2 !important;
}
div.rmdp-disabled {
	color: #808080 !important;
}

.rmdp-range {
	background: #314171 !important;
	box-shadow: none !important;
}
.rmdp-range.start span,
.rmdp-range.end span {
	background: #4169e1 !important;
	border-radius: 50%;
}

.rmdp-week {
	margin-bottom: 4px;
	border-radius: 50%;

	.rmdp-range:first-child {
		border-bottom-left-radius: 50%;
		border-top-left-radius: 50%;
	}

	.rmdp-range:last-child {
		border-bottom-right-radius: 50%;
		border-top-right-radius: 50%;
	}
}

.rmdp-day.rmdp-today span {
	background: none !important;
}

@media (hover: hover) {
	.rmdp-day:not(.rmdp-disabled, .rmdp-day-hidden, .rmdp-range, .start, .end)
		span:hover {
		background: none !important;
		border: 1px solid #474747;
	}
}

/* AB Range Slider */
#range-slider-ab {
	height: 24px;
	width: 470px;
	background: #333333;
}

#range-slider-ab .range-slider__range {
	background: #474747;
	opacity: 0.7;
}

#range-slider-ab .range-slider__thumb {
	width: 1px;
	height: 24px;
	border-radius: 4px;
}

#range-slider-ab .range-slider__thumb[data-lower] {
	background: #f2f2f2;
}

#range-slider-ab .range-slider__thumb[data-upper] {
	background: #f2f2f2;
}
